In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import yaml

In [3]:
with open('/home/uzokmurod/Desktop/amaliyot/recommender-system/config/config.yaml', 'r') as file:
    config = yaml.safe_load(file)
    
raw_data = config['data']['url_books']
raw_tags = config['data']['url_tags']
raw_read = config['data']['url_read']
raw_tags_id = config['data']['url_tags_id']
raw_rating = config['data']['url_rating']

df = pd.read_csv(raw_data, index_col = "id")
df_tags= pd.read_csv(raw_tags)
df_read = pd.read_csv(raw_read)
df_tagsid = pd.read_csv(raw_tags_id)
df_rating = pd.read_csv(raw_rating)

In [4]:
df_rating.shape

(981756, 3)

In [5]:
df_col = pd.DataFrame(df.columns)

In [6]:
df_col

                            0
0                     book_id
1                best_book_id
2                     work_id
3                 books_count
4                        isbn
5                      isbn13
6                     authors
7   original_publication_year
8              original_title
9                       title
10              language_code
11             average_rating
12              ratings_count
13         work_ratings_count
14    work_text_reviews_count
15                  ratings_1
16                  ratings_2
17                  ratings_3
18                  ratings_4
19                  ratings_5
20                  image_url
21            small_image_url